body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

*{
  box-sizing: border-box;
}


.task_form{
  margin:0;
  width: 500px;
  height: 40px;
  display: flex;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FD8B38;
}


.inner{
  width: 500px;
  height: 500px;
  background-color: #FFFFFF;
}

.task_name{
  width: 400px;
  height: 100%;
}

.button__add{
  padding:0;
  width:100px;
  border:none;
  background-color:#096ad6;
  color:#FFFFFF;
}

.tasks_container{
  width:100%;
  height:460px;
  border: 1px solid red;
}